/**
*
* Base attribute styles
*
**/
body
{
	background-color: #475F77;
	display: block;
	font-family: Arial;
	width: 100%;
}
button,
input[type="submit"]
{
	background-color: #444444;
	color: #DCDDD8;
	display: block;
	padding: 12px 20px;
}
button:hover,
input[type="submit"]:hover
{
	background-color: #000000;
	color: #CCCCCC;
	display: block;
}
button:active,
input[type="submit"]:active
{
	background-color: #CCCCCC;
	color: #000000;
	display: block;
}
header
{
	background-color: #D77B7B;
	border-bottom: 1px solid #444444;
	color: #444444;
	font-size: 30px;
	height: 50px;
	padding-top: 20px;
	text-align: center;
	width: 100%;
}
.left
{
	float: left;
}
.right
{
	float: right;
}
/**
*
* Styles for all forms
*
**/
form
{
	color: #DCDDD8;
	display: block;
	height: auto;
	margin: 5% auto 10% auto;
	width: 50%;
}
form h2
{
	border-bottom: 2px dashed #CCCCCC;
	font-size: 28px;
	height: 50px;
	line-height: 50px;
	margin-bottom: 20px;
	width: 100%;
}
form hr
{
	border-top: 2px dashed #CCCCCC;
	margin: 0px 0px 20px 0px;
	padding: 0px;
	width: 100%;
}
.btn_submit
{
	float: right;
	padding: 12px 20px;
}
.content
{
	width: 100%;
}
.content p
{
	font-size: 18px;
	margin-bottom: 5px;
}
.content input[type="text"],
.content input[type="password"],
.content input[type="number"],
.content input[type="date"],
.content select
{
	font-size: 14px;
	height: 30px;
	margin-bottom: 20px;
	padding: 0% 2%;
	width: 96%;
}
/**
*
* Styles for all tables
*
**/
hr
{
	border-top: 2px dashed #CCCCCC;
	margin: 60px auto;
	padding: 0px;
	width: 80%;
}
table
{
	color: #DCDDD8;
	display: block;
	font-size: 12px;
	height: auto;
	margin: 5% auto 10% auto;
	width: 80%;
}
tbody
{
	width: 100%;
}
td,
th
{
	border: 1px solid #CCCCCC;
	height: 35px;
	float: left;
	line-height: 35px;
	overflow: hidden;
	text-align: center;
	width: 9%;
}
tr
{
	display: block;
	width: 100%;
}
#header_table
{
	border-bottom: 2px dashed #CCCCCC;
	color: #DCDDD8;
	font-size: 28px;
	height: 50px;
	line-height: 50px;
	margin: 60px auto 20px auto;
	width: 80%;
}
/**
*
* Styles for the footer
*
**/
footer
{
	bottom: 5px;
	left: 0px;
	position: relative;
	width: 100%;
}
#external_links
{
	background-color: #444444;
	border: 2px dashed #CCCCCC;
	color: #DCDDD8;
	height: 100%;
	margin: 0px auto;
	width: 80%;
}
#external_links a
{
	color: #DCDDD8;
	text-decoration: none;
}
#external_links a:hover
{
	text-decoration: underline;
}
#external_links ul
{
	list-style: none;
	margin-top: 20px;
	min-height: 50px;
	padding: 20px;
}
#external_links ul li
{
	display: block;
	float: left;
	margin-left: 4%;
	text-align: center;
	width: 20%;
}
#external_links h2
{
	font-size: 24px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
/**
*
* Styles for navigation buttons, breadcrumbs, & links
*
**/
#btn_entry,
#btn_reports,
#btn_income,
#btn_expense,
#btn_borrow,
#btn_tableSelection,
#btn_graphSelection
{
	margin: 40px 0px;
	width: 100%;
}
#nav_box,
#nav_box-entry-type
{
	display: block;
	height: auto;
	margin: 10% auto 10% auto;
	width: 20%;
}
.breadcrumbs
{
	display: block;
	list-style: none;
	margin: 10px 0px 0px 10px;
}
.breadcrumb
{
	color: #DCDDD8;
	cursor: pointer;
	display: inline;
	font-size: 12px;
}
.breadcrumb-label:hover
{
	text-decoration: underline;
}
/**
*
* Styles for income, expense, and borrow entry forms
*
**/
.input
{
	display: inline-block;
	width: 30%;
}
.input input[type="text"],
.input input[type="number"]
{
	width: 94%;
}
.input input[type="date"]
{
	padding-right: 0%;
}
.input select
{
	height: 34px;
	width: 100%;
}
.input-full
{
	display: inline-block;
	width: 100%;
}
.input-full input[type="text"]
{
	width: 95%;
}
.middle
{
	margin-left: 5%;
}
/**
*
* Custom styles related to the jQuery dialog boxes
*
**/
#dialog-failed-entry,
#dialog-failed-Login,
#dialog-success,
#dialog-no-key
{
	display: none;
	float:left;
	margin:0px 7px 50px 0px;
}